<!DOCTYPE html>
<html lang="en">
<body>
      <div class="container">
        <h3>Action Items</h3>
        <table st-table="displayed" st-safe-src="action_items" class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <!--th st-sort="Status">Status</th-->
            <!--th st-sort="OpenDate">Open Date</th-->
            <th>Status</th>
            <th>Owner</th>
            <th>Open Date</th>
            <th>Due  Date</th>
            <th>Close Date</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="6">
			           <input st-search placeholder="search" class="input-sm form-control" type="search"/>
		        </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="action_item in displayed">
            <td ng-if="action_item.MeetingID>0">{{ action_item.ArID }}</td>
            <td><button class="btn-link" data-toggle="modal" data-target="#myModal" ng-click="editAR(action_item.ArID)">{{action_item.Description | limitTo:80 | lineFilter }}</button></td>
            <td ng-model="action_item.Status">{{action_item.Status}}</td>
            <td ng-model="action_item.OwnerID">{{getUserName(action_item.OwnerID)}}</td>
            <td>{{ action_item.OpenDate | date:"dd/MM/yyyy" }}</td>
            <td>{{ action_item.DueDate | date:"dd/MM/yyyy" }}</td>
            <td>{{ action_item.CloseDate | date:"dd/MM/yyyy" }}</td>
            <td>
              <button class="btn-link" data-toggle="modal" data-target="#myModal" ng-click="editAR(action_item.ArID)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
            <td>
              <button class="btn-link" ng-click="deleteAR(action_item.ArID)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
  </div>
  </body>
  </html>
