<!DOCTYPE html>

<body>
      <div class="container">
        <h3>Action Items</h3>
        <table st-table="displayed" st-safe-src="meetings" class="table table-striped">
          <thead>
          <tr>
            <th>Meeting</th>
            <th>Description</th>
            <!--th st-sort="Status">Status</th-->
            <!--th st-sort="OpenDate">Open Date</th-->
            <th>Status</th>
            <th>Open Date</th>
            <th>Due  Date</th>
            <th>Close Date</th>
            <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
          </tr>
          <tr>
            <th colspan="6">
			           <input st-search placeholder="search" class="input-sm form-control" type="search"/>
		        </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="meeting in displayed">
            <td ng-if="meeting.MeetingID>0">{{ meeting.ArID }}</td>
            <td><button class="btn-link" data-toggle="modal" data-target="#myModal" ng-click="editAR(meeting.ArID)">{{meeting.Description | limitTo:80 | lineFilter }}</button></td>
            <!--td contentEditable="true" ng-model="meeting.Status">{{meeting.Status}}</td-->
            <td ng-model="meeting.Status">{{meeting.Status}}</td>
            <td>{{ meeting.OpenDate | date:"dd/MM/yyyy" }}</td>
            <td>{{ meeting.DueDate | date:"dd/MM/yyyy" }}</td>
            <td>{{ meeting.CloseDate | date:"dd/MM/yyyy" }}</td>
            <td>
              <button class="btn-link" data-toggle="modal" data-target="#myModal" ng-click="editAR(meeting.ArID)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </td>
            <td>
              <button class="btn-link" ng-click="deleteAR(meeting.ArID)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
  </div>
  </body>
  </html>
