<!DOCTYPE html>
<html lang="en">
<body>
      <div class="container">
        <h3>Meetings (+New Meeting)</h3>
        <table st-table="displayed" st-safe-src="meetings" class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="6">
			           <input st-search placeholder="search" class="input-sm form-control" type="search"/>
		        </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="meeting in displayed">
            <td>{{meeting.Title}}</td>
            <td>{{meeting.Date | date:"dd/MM/yyyy" }}</td>
            <td>
              <button class="btn-link" ng-click="deleteMeeting(meeting.MeetingID)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
  </div>
  </body>
  </html>
